.sec1{
	margin-top: 51px;
	width: 101%;
	height: 50vh;
	background: url('../images/faqs.jpg');
	background-size: cover;
	background-position: center;
}

.sec2{
	margin-top: 51px;
	width: 101%;
	height: 50vh;
	background: url('../images/about.jpg');
	background-size: cover;
	background-position: center;
}
.sec3{
	margin-top: 51px;
	width: 101%;
	height: 50vh;
	background: url('../images/contact.jpg');
	background-size: cover;
	background-position: center;
}
footer.page-footer{
	background-color: #d3d3d3;
  height: 30vh;
  margin-bottom: -20px;
  width: 101%;
}
.row p{
  margin-top: 10px;
  text-align: center;
}

.navbar .container-fluid .navbar-header .navbar-brand{
	font-family: 'Satisfy';
	font-size: 23px;
	padding: 18px;
    margin: 0;
 	vertical-align: bottom;
}
.carousel-inner{
	
	margin-top:51px;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#d3d3d3;
   color:#000;
   text-align: center;
	 padding: 1px;
}
.modal-body ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.modal-body ul li {
  margin-top: -1px; /* Prevent double borders */
  padding: 12px;
}
.modal-body ul li a{
	position: absolute;
}
hr{
	border: 1px solid;
}
.boxed {
width:300px;
height:100px;
border:1px solid #000;
}
.modal {
    overflow-y:auto;
}

.none{
  display:none;
}
.flip--btn{
  cursor:pointer;
  float:left; 
  margin: 10px;
  color:#131212;
  margin-top: 0px;
  
}
.input-append{
  float:left; width:100%; margin-bottom:10px;
}
.front_print,.back_print{
	position: absolute;
    top: 130px;
    left: 165px;
    z-index: 10;
    width: 200px;
    height: 330px;
}
.front_print:hover{
	border:1px solid #000;
}
.back_print:hover{
	border:1px solid #000;
}
.h5, h5{
	color: black;
	margin-left: px;
	font-weight: bold;

}
